@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="display-3">Система підтримки прийняття рішень відділу закупівель аптечної мережі</h2>
    <p class="lead">Система дозволяє проводити продажі, вести облік, прогнозувати необхідну кількість замовлень та відповідно проводити замовлення.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Medicaments" asp-action="List">Медикаменти</a>
    </p>
</div>
           
<div class="row home-page">
    <div class="col-xs-6">
        <img src="~/images/anaferon.jpg" alt="anaferon" class="img-medicine" width="100%" height="100%" />
    </div>
    <div class="col-xs-6">
        <p class="text-medicine">
            Профілактика та лікування гострих респіраторних вірусних інфекцій (у тому числі грипу).
        </p>
        <p class="text-medicine">
            Комплексна терапія інфекцій, спричинених герпесвірусами (інфекційний мононуклеоз, вітряна віспа, лабіальний герпес, генітальний герпес).
        </p>
        <p class="text-medicine">
            Комплексна терапія і профілактика рецидивів хронічної герпесвірусної інфекції, у тому числі лабіального та генітального герпесу.
        </p>
        <p class="text-medicine">
            Комплексна терапія і профілактика інших гострих та хронічних вірусних інфекцій, спричинених вірусом кліщового енцефаліту, ентеровірусом, ротавірусом, коронавірусом, каліцивірусом.
        </p>
        <p class="text-medicine">
            Комплексна терапія вторинних імунодефіцитних станів різної етіології, у тому числі профілактика та лікування ускладнень вірусних і бактеріальних інфекцій.
        </p>
        <div class="btn-price">
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Medicaments" asp-action="List">Price</a>
        </div>
    </div>
 </div>
<hr />
<div class="row home-page">
    <div class="col-xs-6">
        <p class="text-medicine">
            Симптоматичне лікування подразнень і запалень ротоглотки; болю, зумовленого гінгівітом, стоматитом, фарингітом; у стоматології після екстракції зуба або з профілактичною метою.
        </p>
        <div class="btn-price">
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Medicaments" asp-action="List">Price</a>
        </div>
    </div>
    <div class="col-xs-6">
        <img src="~/images/tantum.jpg" alt="tantum" class="img-medicine" width="100%" height="100%" />
    </div>
</div>
